@model IEnumerable<CoreClient00001.Models.DataAccess>

@{
    ViewData["Title"] = "Get Data";
}

<meta http-equiv="refresh" content="15" />

<h1>Get Data</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SensorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SensorData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SensorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
